// footer form
.footer-form {
    margin-left: 93px;
}

.footer-form__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-form__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    padding-left: 16px;
}
// button footer form
.footer-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    outline: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;
    cursor: pointer;
}

.footer-btn__icon {
    margin-left: 10px;


}