/* постоянные клиенты */

.client-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 94px;
    padding-left: auto;
    padding-bottom: 94px;
    padding-right: auto;
    text-align: center;
}

.client-container__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.clients {
    display: flex;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    border-color: #AFB1B8;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
            margin-right: 0px;
        }
    
        
    &:hover .clients__icon {
            fill: #2196F3;
        }
    
    &:focus .clients__icon {
            fill: #2196F3;
        }
    
    &:hover {
            border-color: #2196F3;
        }
}


.clients__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}