/* наша команда */

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin: 0;
    margin-bottom: 50px;
}

.team__card {
    display: flex;
    justify-content: space-between;
}

.team__img {
    display: inline-block;
    width: 270px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin-right: 30px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team__bio {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin-top: 0px;
    margin-bottom: 10px;
}

.team__professional {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 16px;
}